.App {
  text-align: center;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ebf0fa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(52, 52, 52);
}

.App-header.dark {
  background-color: #282c34;
  color: white;
}

.dark {
  --bs-border-color: RGBa(255,255,255,0.3);
}
.dark .App-logo,
.dark .app-logo-no-text {
  filter: invert();
}

nav label {
  color: var(--bs-navbar-color);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
