.s_Outer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -57.5%);
  border-radius: 10px;
  width: 30%;
  height: 70%;
  background-color: rgba(39, 43, 50, 0.2);
  border: 2px solid black;
  transition: all .2s ease-in-out;
  padding: 20px;
  z-index: 1;
  color: black !important; 
}

.s_Outer:hover{
  box-shadow: 5px 5px 15px rgb(48, 48, 48);
}

.s_Inner{
  /* text-transform: uppercase; */
  font-size: 25px;
  text-align: center;
  width: 100%;
}

.s_contactDiv{
  /* margin: 20px; */
  margin: 0px auto;
  width: 100%;
  /* color: blue; */
}

.s_Row{
  width: 100%;
}

.s_loginStyle{
  width: 100%;
}

.s_loginStyle form{
  width: 100%;
  /* margin: 0px auto; */
}


.s_input_div1, .s_input_div2{
  width: 100%;
  padding: 5px;
}

.s_input_div1 label, .s_input_div2 label{
  font-size: 17px;
  margin-left: 2px;
  overflow: hidden;
  transition: all 1s ease;
  width: fit-content;
  height: 30px;
}

.s_input_div1 label:hover, .s_input_div2 label:hover{
  font-size: 18px;
  font-weight: 500;
}

.s_input_div1 input, .s_input_div2 input{
  width: 100%;
  /* background-color: white; */
  outline: none;
    border: none;
    width: 370px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(62, 65, 70);
    margin: 0;
    font-size: 14px;
}

.s_login_out{
  width: 100%;
  text-align: center;
  padding: 2px;
  margin: 2px;
}

.s_loginB{
  width: 33%;
  padding: 8px;
  margin: 0px auto;
  font-size: 18px;
  text-align: center;
  outline: none;
  border:none;
  background: linear-gradient(to right bottom, rgb(106, 106, 238), rgb(238, 132, 106));
  border-radius: 2px;
  color: white;
}

.s_loginB:hover{
  background: linear-gradient(to right bottom, rgb(238, 132, 106),rgb(106, 106, 238));
}

.s_ask{
  text-align: center;
}

.s_reg{
  text-decoration: none;
  outline: none;
  font-size: 17px;
  transform: translateY(-30%);
  margin: 30px;
}

.s_reg:hover{
  border-bottom: 2px solid rgb(130, 167, 248);
}
.s_s_up{
  opacity: 1;
}