.pur, .des{
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    width: 70%;
    margin-top: 60px;
    text-align: left;
    letter-spacing: 2px;
    font-size: 17px;
}

.pack{
    margin-left: 70px;
}

.about{
    display: flex;
}

.outer{
    display: flex;
    flex-direction: column;
}